<div class="container-fluid">
  <div class="row p-2 bg-info">
      <div class="col-6">
          <h3>Employee List</h3>                                                                                                   
      </div>
      <div class="col-6 text-end">
        <button class="btn btn-warning" (click)="openModal()">Add Employee</button>

      </div>
  </div>
  <table class="table table-bordered table-striped">
      <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Age</th>
              <th>Salary</th>
              <th class="text-center">Action</th>
          </tr>
      </thead>
      <tbody>
        
          <tr *ngFor="let item of employeeList; let i = index">
              <td>{{item.name}}</td>
              <td>{{item.email}}</td>
              <td>{{item.mobile}}</td>
              <td>{{item.age}}</td>
              <td>{{item.salary}}</td>
              <td>{{ item.status ? 'Active' : 'Inactive' }}</td>
              <td class="text-center">
                  <button class="btn btn-primary">Edit</button>
                  <button class="btn btn-danger">Delete</button>
              </td>
          </tr>
        
      </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal" id="myModal" #myModal>
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header bg-info">
              <h4 class="modal-title">Add Employee</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModal()"></button>
          </div>

          <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
              <!-- Modal Body -->
              <div class="modal-body">
                  <div class="row">
                      <div class="col-12">
                        <input type="text" formControlName="name" class="form-control" placeholder="Name">
                      </div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-6">
                        <input type="text" formControlName="email" class="form-control" placeholder="Email">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                        <input type="number" formControlName="mobile" class="form-control" placeholder="Mobile">

                      </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <input type="number" formControlName="age" class="form-control" placeholder="Age">

                    </div>
                </div>
                  <div class="row">
                      <div class="col-12">
                        <input type="number" formControlName="salary" class="form-control" placeholder="Salary">
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <div class="form-group-form-check">
                            <input type="checkbox" formControlName="status" class="form-check-input">
                              <label>Active?</label>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Modal Footer -->
              <div class="modal-footer">
                  <button type="submit"[disabled]="this.employeeForm.invalid" class="btn btn-primary" data-bs-dismiss="modal">Save</button>
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
              </div>
          </form>
      </div>
  </div>
</div>
